@import '../common.css';

.bdg {
  display: inline;
  position: relative;
  width: fit-content;
}
.bdg--icon {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  padding: 0.2em 0.45em;
  color: #fff;
  background-color: var(--button-float);
  border-radius: 50%;
}
.sml {
  font-size: 0.5em;
}
.med {
  font-size: 0.75em;
}
.lag {
  font-size: 1em;
}

.bdg--profile {
  border: 2px solid white;
  border-radius: 50%;
  background-color: green;
  width: 1em;
  height: 1em;
}
.sm {
  position: absolute;
  right: 0.25em;
  bottom: 0.25em;
}
.md {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}
.lg {
  position: absolute;
  right: 0.75em;
  bottom: 0.75em;
}
