@import '../../utility/common.css';
@import '../../installation/styles.css';

/* Basic card */
.card {
  position: relative;
  max-width: 20rem;
  background-color: var(--white);
  border: 2px solid var(--primary--light);
  border-radius: 10px;
}

/* Card with shadow */
.shdw {
  border: none;
  box-shadow: 0 0.5rem 1rem -0.125rem rgb(10 10 10 / 10%),
    0 0 0 1px rgba(129, 113, 113, 0.02);
}
.card__title {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  margin: 0.5rem 0.75rem;
  color: var(--primary);
}
.card__subtitle {
  font-size: 1rem;
  margin: 0.5rem 0;
  margin: 0.5rem 1rem;
  color: var(--primary--light);
}
.card__content {
  display: inline-block;
  font-size: 1rem;
  color: var(--code);
  margin: 1rem;
  padding-bottom: 0.5rem;
}

/* Badge on title */
.card__badge {
  position: absolute;
  top: 1rem;
  right: -0.5rem;
  z-index: 10;
  padding: 0.5rem;
  font-size: 0.75rem;
  background-color: var(--button-link);
  color: var(--white);
  margin: 0;
}

/* Card with banner */
.card__banner {
  height: 60%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0;
}

/* Card that can dismiss */
.card__dismiss {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
  z-index: 10;
  font-size: 2rem;
  color: var(--white);
  margin: 0;
}
.dismiss {
  display: none;
}
.open {
  display: inline-block;
}

/* Card with text overlay on image */
.overlay {
  display: grid;
}
.overlay__banner {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin: 0;
}
.overlay__title {
  font-size: 1.5rem;
  margin: 1.25rem 0.5rem;
  color: var(--white);
  align-self: flex-end;
}
.overlay__subtitle {
  font-size: 1rem;
  margin: 0.05rem 0.5rem;
  color: var(--white);
  align-self: flex-end;
}
.overlay__back,
.overlay__front {
  grid-column: 1/2;
  grid-row: 1/2;
}
.overlay__front {
  z-index: 5;
}

/* Horizontal Card */
.landscape {
  display: flex;
  height: auto;
  max-width: 100%;
}
.landscape .card__banner {
  height: auto;
  width: 40%;
  border-radius: 10px 0 0 10px;
}
.landscape .content {
  border-radius: 10px 0 0 10px;
}

/* E-commerce card */
.ecom {
  height: 30rem;
}
.price--sec {
  text-decoration: line-through;
}
.price--ter {
  color: var(--button-success);
}
.content__tag {
  font-size: 0.75rem;
  color: var(--primary);
  background-color: var(--button-light);
  border-radius: 1.6rem;
  padding: 0.5rem 0.75rem;
}
.content__rating {
  display: inline-block;
  padding: 0.5rem 0 0.5rem 0.5rem;
  font-size: 1rem;
  border-radius: 1.25rem;
  color: var(--white);
  background-color: var(--badge-online);
}

/* Media queries */
@media screen and (min-width: 768px) {
  .landscape {
    width: 30rem;
  }
}
