@import '../../utility/common.css';
@import '../../installation/styles.css';

.input--container {
  width: 20rem;
}
.label {
  font-size: 1rem;
  color: var(--primary);
  margin: 0.5rem;
}
.input {
  outline: none;
  display: inline;
  font-size: 1rem;
  padding: 0.5rem;
  border: 2px solid var(--primary--light);
  width: 100%;
}
.no--bdr {
  border: none;
}
/* .input:focus {
  border: 2px solid var(--button-float-highlighted);
} */
.input--man:focus {
  border: 2px solid var(--button-error);
}
.input--error {
  margin: 2rem 0.5rem;
  color: var(--button-error);
}
.search--ctr {
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--primary--light);
  width: 100%;
}
.search--ctr:hover {
  border: 2px solid var(--button-float-highlighted);
}
