@import '../../utility/common.css';
@import '../../installation/styles.css';

.input--container {
  width: 20em;
}
.lbl {
  font-size: 1em;
  color: var(--heading);
  margin: 0.5em;
}
.ipt {
  outline: none;
  display: inline;
  font-size: 1em;
  padding: 0.5em;
  border: 2px solid var(--border);
  width: 100%;
}
.no--bdr{
  border: none;
}
/* .ipt:focus {
  border: 2px solid var(--button-float-highlighted);
} */
.ipt--man:focus {
  border: 2px solid var(--button-error);
}
.ipt--error {
  margin: 2em 0.5em;
  color: var(--button-error);
}
.search--ctr {
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--border);
  width: 100%;
}
.search--ctr:hover{
  border: 2px solid var(--button-float-highlighted);
}