<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carousal</title>
    <link rel="stylesheet" href="carousal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.jpg" />
          </a>
          <span class="box-span">
            <span class="lg sb n-s heading">Apollo-UI</span>
            <span class="sm sb subheading">beta-version</span>
          </span>
        </div>
        <div class="box-sm-contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </div>
        <div class="box-sm-contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list--container">
            <span class="list__title"
              ><a href="/installation">Installation</a></span
            >
          </div>
          <div class="list--container">
            <span class="list__title">Utilities</span>
            <ul class="list">
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list--container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li><a href="../drawer/">Drawer</a></li>
              <li><a href="../carousal/">Carousal</a></li>
              <li><a href="../grid/">Grid</a></li>
              <li><a href="../list/">List</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="heading lg sb">Carousal</h1>
          <br /><br />
          <p class="heading md reg">
            A carousal is a slide show of images that highlight some information
            for purpose of advertising or to showcase some exclusive product.
          </p>
          <br /><br />
          <hr />
          <br /><br />
          <p class="heading md lt">
            <!-- how to use -->
          </p>

          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text">
                <!-- code -->
                <!-- Slideshow container -->
                <div class="slideshow-container">
                  <div class="mySlides fade">
                    <img
                      src="https://www.w3schools.com/howto/img_nature_wide.jpg"
                      style="width: 100%"
                    />
                  </div>

                  <div class="mySlides fade">
                    <img
                      src="https://www.w3schools.com/howto/img_snow_wide.jpg"
                      style="width: 100%"
                    />
                  </div>

                  <div class="mySlides fade">
                    <img
                      src="https://www.w3schools.com/howto/img_lights_wide.jpg"
                      style="width: 100%"
                    />
                  </div>

                  <!-- Next and previous buttons -->
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br />

                <!-- End -->
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;div class="slideshow-container"&gt;
&lt;div class="mySlides fade"&gt;
    &lt;img src="https://www.w3schools.com/howto/img_nature_wide.jpg"
    style="width: 100%" /&gt;
&lt;/div&gt;
&lt;div class="mySlides fade"&gt;
    &lt;img src="https://www.w3schools.com/howto/img_snow_wide.jpg"
    style="width: 100%"/&gt;
&lt;/div&gt;
&lt;div class="mySlides fade"&gt;
    &lt;img src="https://www.w3schools.com/howto/img_lights_wide.jpg"
    style="width: 100%"/&gt;
&lt;/div&gt;
&lt;a class="prev" onclick="plusSlides(-1)"&gt;&lt;/a&gt;
&lt;a class="next" onclick="plusSlides(1)"&gt;&lt;/a&gt;
&lt;/div&gt;
</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
