<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Button</title>
    <link rel="stylesheet" href="button.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.jpg" />
          </a>
          <span class="box-span">
            <span class="lg sb n-s heading">Apollo-UI</span>
            <span class="sm sb subheading">beta-version</span>
          </span>
        </div>
        <div class="box-sm-contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </div>
        <div class="box-sm-contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list--container">
            <span class="list__title"
              ><a href="/installation">Installation</a></span
            >
          </div>
          <div class="list--container">
            <span class="list__title">Utilities</span>
            <ul class="list">
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list--container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li><a href="../drawer/">Drawer</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="heading md sb">Button</h1>
          <br /><br />
          <p class="heading md reg">
            A button is amulti-purspose component, which can be used to submit
            form, redirect to a web-page, or trigger an event.
          </p>
          <br /><br />
          <hr />
          <br /><br />
          <h1 class="heading lg sb">Types of Buttons</h1>
          <br /><br />
          <p class="heading md lt">
            Add 'btn' around an icon, anchor tag or button tag to create a
            button. Supporting classes highlight different color shades and
            effects as per the requirement, like a
            <strong>primary button</strong>, an <strong>anchor button</strong>,
            an <strong>input</strong> or an <strong>icon</strong> button.
          </p>

          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text">
                <button class="btn btn--primary">Primary</button>
                <a class="btn btn--link">Anchor</a>
                <input class="btn btn--curve" type="submit" value="Submit" />
                <i class="fas fa-shopping-cart medium"></i>
                <i class="fas fa-plus btn btn--float btn--round"></i>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;button class="btn btn--primary"&gt;Primary&lt;/button&gt;
&lt;a class="btn btn--link"&gt;Anchor&lt;/a&gt;
&lt;input class="btn btn--curve" type="submit" value="Submit" /&gt;
&lt;i class="fas fa-shopping-cart medium"&gt;&lt;/i&gt;
&lt;i class="fas fa-plus btn btn--float btn--round"&gt;&lt;/i&gt;</code></pre>
            </div>
          </div>
          <br /><br />
          <h1 class="heading md sb">Standard Buttons</h1>
          <br /><br />
          <p class="heading md lt">
            Add <strong>'btn--color_name'</strong> to create different shade of
            button.
          </p>
          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text">
                <button class="btn btn--white">White</button>
                <button class="btn btn--light">Light</button>
                <button class="btn btn--dark">Dark</button>
                <button class="btn btn--black">Black</button>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;button class="btn btn--white"&gt;White&lt;/button&gt;
&lt;button class="btn btn--light"&gt;Light&lt;/button&gt;
&lt;button class="btn btn--dark"&gt;Dark&lt;/button&gt;
&lt;button class="btn btn--black"&gt;Black&lt;/button&gt;</code></pre>
            </div>
          </div>
          <br /><br />
          <h1 class="heading md sb">Colors</h1>
          <br /><br />
          <p class="heading md lt">
            Buttons in these category are more relevant to some pre-defined
            use-cases, like error handling, show notification, floating button
            or an anchor tag button.
          </p>
          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text">
                <button class="btn btn--primary">Primary</button>
                <button class="btn btn--link">Link</button>
                <button class="btn btn--success">Success</button>
                <button class="btn btn--error">Error</button>
                <button class="btn btn--icons">Icon</button>
                <button class="btn btn--float">Floating</button>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;button class="btn btn--primary"&gt;Primary&lt;/button&gt;
&lt;button class="btn btn--link"&gt;Link&lt;/button&gt;
&lt;button class="btn btn--success"&gt;Success&lt;/button&gt;
&lt;button class="btn btn--error"&gt;Error&lt;/button&gt;
&lt;button class="btn btn--icons"&gt;Icon&lt;/button&gt;
&lt;button class="btn btn--float"&gt;Floating&lt;/button&gt;</code></pre>
            </div>
          </div>
          <br /><br />
          <h1 class="heading md sb">Sizes</h1>
          <br /><br />
          <p class="heading md lt">
            To control shapes and sizes of buttons add
            <strong>'btn--size'</strong> or <strong>'btn--round'</strong> along
            with other button classes.
          </p>

          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text">
                <button class="btn btn--sm">Small</button>
                <button class="btn">Normal</button>
                <button class="btn btn--md">Medium</button>
                <button class="btn btn--lg">Large</button>
                <button class="btn btn--curve">Curve</button>
                <i class="fas fa-bars btn btn--round lg sb"></i>
                <button class="btn btn--wide">Wide</button>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;button class="btn btn--sm"&gt;Small&lt;/button&gt;
&lt;button class="btn"&gt;Normal&lt;/button&gt;
&lt;button class="btn btn--md"&gt;Medium&lt;/button&gt;
&lt;button class="btn btn--lg"&gt;Large&lt;/button&gt;
&lt;button class="btn btn--curve"&gt;Curve&lt;/button&gt;
&lt;i class="fas fa-bars btn btn--round lg sb"&gt;&lt;/i&gt;
&lt;button class="btn btn--wide"&gt;Wide&lt;/button&gt;</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
