@import '../../utility/common.css';
@import '../../installation/styles.css';

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    'navicons start end'
    'middle middle middle';
  position: relative;
  align-items: center;
}
.nav--icons {
  grid-area: navicons;
}
.start {
  grid-area: start;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle {
  grid-area: middle;
}
.end {
  grid-area: end;
}

@media screen and (min-width: 1024px) {
  .navbar {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'start middle end';
  }
  .start {
    justify-content: flex-start;
  }
  .nav--icons {
    display: none;
  }
}
