@import '../../utility/common.css';
@import '../../installation/styles.css';

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'start end'
    'middle middle';
  position: relative;
  align-items: center;
}
.start {
  grid-area: start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.middle {
  grid-area: middle;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.end {
  grid-area: end;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (min-width: 768px) {
  .navbar {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 'start middle end';
  }
}
