<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
    <link rel="stylesheet" href="list.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.jpg" />
          </a>
          <span class="box-span">
            <span class="lg sb n-s heading">Apollo-UI</span>
            <span class="sm sb subheading">beta-version</span>
          </span>
        </div>
        <div class="box-sm-contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </div>
        <div class="box-sm-contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list--container">
            <span class="list__title"
              ><a href="/installation">Installation</a></span
            >
          </div>
          <div class="list--container">
            <span class="list__title">Utilities</span>
            <ul class="list">
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list--container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li><a href="../drawer/">Drawer</a></li>
              <li><a href="../list/">List</a></li>
              <li><a href="../grid/">Grid</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="heading lg sb">List</h1>
          <br /><br />
          <p class="heading md reg">
            There are teo types of lists in HTML, ordered and unordered. I have
            put a third category of stacked list as well for making small
            notification or info boxes.
          </p>
          <br /><br />
          <hr />
          <br /><br />

          <h1 class="heading md sb">Unordered List</h1>
          <p class="heading md lt">
            List by default is unordered. To add custom marker or set different
            font size or padding add the pre-defined classes.
            <strong>list--circle</strong> sets round markers and
            <strong>list--square</strong> sets square markers.
          </p>
          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text flex-ct-sb xs-s">
                <ul class="sm sb sm-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ul>
                <br />
                <ul class="sm sb list--circle sm-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ul>
                <br />
                <ul class="sm sb list--square sm-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ul>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;ul class="sm sb sm-s"&gt;
&lt;li&gt;Coffee&lt;/li&gt;
  &lt;li&gt;Tea&lt;/li&gt;
  &lt;li&gt;Cola &lt;/li&gt;
  &lt;/ul&gt;
&lt;ul class="sm sb list--circle sm-s"&gt;
  &lt;li&gt;Coffee&lt;/li&gt;
  &lt;li&gt;Tea&lt;/li&gt;
  &lt;li&gt;Cola &lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="sm sb list--square sm-s"&gt;
  &lt;li&gt;Coffee&lt;/li&gt;
  &lt;li&gt;Tea&lt;/li&gt;
  &lt;li&gt;Cola &lt;/li&gt;
&lt;/ul&gt;
                  
</code></pre>
            </div>
          </div>
          <br /><br />
          <h1 class="heading md sb">Ordered List</h1>
          <p class="heading md lt">
            Ordered List by default is numbered. To override default properties
            wrap it in <strong>list--od</strong> class. To add custom marker or
            set different font size or padding add the pre-defined classes.
            <strong>list--roman</strong> sets roman numerals markers and
            <strong>list--alpha</strong> sets alpahbets markers.
          </p>
          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text flex-ct-sb xs-s">
                <ol class="sm sb list--od sm-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ol>
                <br />
                <ol class="sm sb list--od list--roman md-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ol>
                <br />
                <ol class="sm sb list--od list--alpha md-s">
                  <li>Coffee</li>
                  <li>Tea</li>
                  <li>Cola</li>
                </ol>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;ol class="sm sb list--od sm-s"&gt;
 &lt;li&gt;Coffee&lt;/li&gt;
 &lt;li&gt;Tea&lt;/li&gt;
 &lt;li&gt;Cola &lt;/li&gt;
&lt;/ol&gt;
&lt;ol class="sm sb list--od list--roman md-s"&gt;
  &lt;li&gt;Coffee&lt;/li&gt;
  &lt;li&gt;Tea&lt;/li&gt;
  &lt;li&gt;Cola &lt;/li&gt;
&lt;/ol&gt;
&lt;ol class="sm sb list--od list--alpha md-s"&gt;
  &lt;li&gt;Coffee&lt;/li&gt;
  &lt;li&gt;Tea&lt;/li&gt;
  &lt;li&gt;Cola &lt;/li&gt;
&lt;/ol&gt;
                  
</code></pre>
            </div>
          </div>

          <br /><br />
          <h1 class="heading md sb">Stacked List</h1>
          <p class="heading md lt">
            Stacked List are basically like a text only card. To begin default
            wrap a list in <strong>stack</strong> class. User can set any
            content inside the card and adjust the width and height using custom
            styling classes.
          </p>
          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
                <i class="far fa-copy btn btn--icons btn--round"></i>
                <span class="code--msg">Copied!</span>
              </div>
              <div class="code--text xs-s">
                <ul class="stack">
                  <li class="stack__card flex-ct-st">
                    <img
                      src="https://www.w3schools.com/w3images/avatar2.png"
                      alt="Avatar"
                      class="avatar avatar--sm"
                    />
                    <div>
                      <h1 class="heading sm sb">Calvin Hawkins</h1>
                      <h2 class="subheading sm">calvin.hawkins@example.com</h2>
                    </div>
                  </li>
                  <br />
                  <li class="stack__card flex-ct-st">
                    <img
                      src="https://www.quanzhanketang.com/w3css/img_avatar5.png"
                      alt="Avatar"
                      class="avatar avatar--sm"
                    />
                    <div>
                      <h1 class="heading sm sb">Kristen Ramons</h1>
                      <h2 class="subheading sm">kristen.ramons@example.com</h2>
                    </div>
                  </li>
                  <br />
                  <li class="stack__card flex-ct-st">
                    <img
                      src="https://www.quanzhanketang.com/w3css/img_avatar3.png"
                      alt="Avatar"
                      class="avatar avatar--sm"
                    />
                    <div>
                      <h1 class="heading sm sb">Ted Fox</h1>
                      <h2 class="subheading sm">ted.fox@example.com</h2>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;ul class="stack"&gt;
  &lt;li class="stack__card flex-ct-st"&gt;
   &lt;img src="..."
      alt="Avatar" class="avatar avatar--sm"/&gt;
   &lt;div&gt;
     &lt;h1 class="heading sm sb"&gt;...&lt;/h1&gt;
     &lt;h2 class="subheading sm"&gt;...&lt;/h2&gt;
   &lt;/div&gt;
  &lt;/li&gt;
&lt;/ul&gt;

</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
