@import '../../utility/common.css';
@import '../../installation/styles.css';

.hb--box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  align-items: flex-start;
  position: relative;
  min-width: 90vw;
}
.hb--header {
  grid-column: 1/2;
  grid-row: 1/2;
}
.hb--aside {
  grid-column: 1/2;
  grid-row: 2/3;
  display: none;
  background-color: var(--white);
  overflow: hidden scroll;
  z-index: 3;
}
.hb--aside.hb--open {
  display: block;
}
.hb--main {
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 2;
}
.hb--list {
  list-style: none;
}
.slider {
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .hb--box {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: min-content auto;
    min-width: 100%;
    width: auto;
  }
  .slider {
    display: none;
  }
  .hb--header{
    grid-column: 1/-1;
    grid-row: 1/2;
  }
  .hb--aside {
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
    position: sticky;
    top: 0;
  }
  .hb--main,
  .hb--main.hb--open {
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
