@import '../../utility/common.css';
@import '../../installation/styles.css';

/* Aside */
.box__aside,
.box__header {
  z-index: 100;
}
.drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 300ms;
}
.drawer__open {
  transform: translateX(0);
}
.drawer__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.drawer__background.drawer__open {
  background-color: var(--primary);
  opacity: 0.9;
  z-index: 100;
}
.drawer__content {
  position: absolute;
  background-color: var(--white);
  border: 2px solid var(--primary--light);
  opacity: 1;
}
.drawer__content[direction='top'] {
  top: 0;
  width: 100%;
  height: auto;
}
.drawer__content[direction='bottom'] {
  bottom: 0;
  width: 100%;
  height: auto;
}
.drawer__content[direction='left'] {
  left: 0;
  max-width: 50%;
  height: 100%;
  align-self: start;
}
.drawer__content[direction='right'] {
  right: 0;
  width: auto;
  height: auto;
  align-self: start;
}
.drawer__content[direction='right'] ~ .drawer__close {
  display: none;
}
.drawer__close {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--white);
}
