@import '../../utility/common.css';
@import '../../installation/styles.css';

.drawer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 300ms;
}
.drawer--open {
  transform: translateX(0);
}
.drawer--background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.drawer--background.drawer--open {
  background-color: var(--heading);
  opacity: 0.9;
  z-index: 100;
}
.drawer--content {
  position: absolute;
  background-color: var(--white);
  border: 2px solid var(--border);
  opacity: 1;
}
.drawer--content[direction='top'] {
  top: 0;
  width: 100%;
  height: auto;
}
.drawer--content[direction='bottom'] {
  bottom: 0;
  width: 100%;
  height: auto;
}
.drawer--content[direction='left'] {
  left: 0;
  max-width: 50%;
  height: 100%;
  align-self: start;
}
.drawer--content[direction='right'] {
  right: 0;
  width: auto;
  height: auto;
  align-self: start;
}
.drawer--content[direction='right'] ~ .drawer--close {
  display: none;
}
.drawer--close {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  font-size: 3em;
  color: var(--white);
}
