<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drawer</title>
    <link rel="icon" type="image/x-icon" href="/assets/rocket.webp" />
    <link rel="stylesheet" href="drawer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.webp" alt="logo" />
          </a>
          <span class="box__span">
            <span class="lg sb n-s primary">Apollo-UI</span>
            <span class="sm sb primary--light"></span>
          </span>
        </div>
        <div class="box__sm__contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="../../assets/twitter.webp"
              alt="icons"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="../../assets/github.webp"
              alt="icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="../../assets/linkedin.webp"
              alt="icons"
            />
          </a>
        </div>
        <div class="box__sm__contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list__container">
            <span class="list__title">Getting Started</span>
            <ul class="list">
              <li><a href="../../installation">Installation</a></li>
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list__container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li class="active"><a href="../drawer/">Drawer</a></li>
              <li><a href="../grid/">Grid</a></li>
              <li><a href="../list/">List</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="../../assets/twitter.webp"
              alt="icons"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="../../assets/github.webp"
              alt="icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="../../assets/linkedin.webp"
              alt="icons"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="primary lg sb mg-full">Drawer</h1>
          <p class="primary md reg mg-full">
            A classic drawer overlay, in which you can include any content you
            want. It works best in mobile view as a complimentary component to
            modal and can be used for making pop-up windows.
          </p>
          <hr />
          <p class="primary sm bl mg-full">
            To use the drawer component, you need to make use of four classes,
            <strong>drawer</strong>, <strong>drawer__background</strong>,
            <strong>drawer__content</strong> and <strong>drawer__close</strong>.
          </p>
          <p class="primary sm bl mg-full">
            Use <strong>drawer__background</strong> outside the drawer classes
            for overlay effect. Add any content you want inside
            <strong>drawer__content</strong>, also use padding classes as per
            your needs. Enter a value from
            <strong>top | bottom | left | right</strong> to set the direction of
            the drawer to pop from.
          </p>
          <p class="primary sm bl mg-full">
            Use <strong>drawer__open</strong> to control the dynamic behaviour
            of the drawer.
          </p>

          <div class="drawer__background"></div>
          <div class="drawer flex-ct-ct">
            <div class="drawer__content md-s" direction="left">
              <h1 class="sm">Drawer</h1>
              <p class="sm">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </p>
            </div>
            <span class="drawer__close">
              <i class="fas fa-times-circle"></i>
              <!-- <i class="fa-regular fa-circle-xmark"></i> -->
            </span>
          </div>

          <div class="component__output__wrapper flex-ct-ct flex-vertical">
            <div class="component__output shadow">
              <div class="flex-ct-st"></div>
              <div>
                <button class="btn btn--float btn--md show--drawer">
                  Show Drawer
                </button>
              </div>
            </div>
            <div class="code__container mg-full">
              <pre><code class='html'>&lt;div class="drawer__background"&gt;&lt;/div&gt;
&lt;div class="drawer flex-ct-ct"&gt;
&lt;div class="drawer__content md-s" wide="20"&gt;
    &lt;h1 class="sm"&gt;drawer&lt;/h1&gt;
    &lt;p class="sm"&gt;...&lt;/p&gt;
  &lt;/div&gt;
&lt;span class="drawer__close"&gt;
  &lt;i class="fas fa-times-circle"&gt;&lt;/i&gt;
&lt;/span&gt;
&lt;/div&gt;

</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
