@import '../../utility/common.css';
@import '../../installation/styles.css';

.bdg-container {
  align-self: center;
}

/* Icon Badges */
[icon-badge] {
  position: relative;
}
[icon-badge]:after {
  content: attr(icon-badge);
  position: absolute;
  right: -8px;
  top: -8px;
  text-align: center;
  color: #fff;
  background-color: var(--badge-offline);
  border-radius: 20px;
  border: solid 1px var(--badge-offline);
}
[bdg-size='extra']:after {
  min-width: 10px;
  min-height: 10px;
  font-size: 10px;
  padding: 5px;
  line-height: 10px;
}
[bdg-size='large']:after {
  min-width: 6px;
  min-height: 6px;
  font-size: 8px;
  padding: 5px;
  line-height: 5px;
}
[bdg-size='medium']:after {
  right: -6px;
  top: -6px;
  min-width: 4px;
  min-height: 4px;
  font-size: 6px;
  padding: 4px;
  line-height: 3px;
}

/* Profile Badges */
.bdg {
  display: inline;
  position: relative;
  width: fit-content;
}
.bdg--icon {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  padding: 0.2em 0.45em;
  color: var(--white);
  background-color: var(--button-float);
  border-radius: 50%;
}
.bdg--profile {
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: var(--badge-online);
  width: 1em;
  height: 1em;
}
.bdg--offline {
  background-color: var(--badge-offline);
}
.bdg--away {
  background-color: var(--badge-away);
}
.sml {
  position: absolute;
  right: 0.75em;
  bottom: 0.25em;
}
.med {
  position: absolute;
  right: 1em;
  bottom: 0.25em;
}
.lrg {
  position: absolute;
  right: 1.25em;
  bottom: 0.25em;
}

@media screen and (min-width: 768px) {
  [bdg-size='medium']:after {
    min-width: 4px;
    min-height: 4px;
    font-size: 8px;
    padding: 5px;
    line-height: 4px;
  }
}
