:root {
  /* Common Colors */
  --white: white;
  --black: black;

  --primary: #363636;
  --primary--light: #dbdbdb;

  --secondary: #3e8ed0;
  --secondary--light: #5783a8;

  --code: #282c34;
  --code-span: #e6cd69;

  /* Button colors */
  --button-light: #f5f5f5;
  --button-light-highlighted: #ebebeb;
  --button-dark-highighted: #2b2828;
  --button-primary: #00d1b2;
  --button-primary-highlighted: #06c4a7;
  --button-link: #485fc7;
  --button-link-highlighted: #344aad;
  --button-success: #48c78e;
  --button-success-highlighted: #2ca56e;
  --button-error: #ea0e3a;
  --button-error-highlighted: #bc1c3c;
  --button-icons-text: #363636;
  --button-icons: #ffe08a;
  --button-icons-highlighted: #ecce7a;
  --button-float: #3e8ed0;
  --button-float-highlighted: #3e8ed0;

  /* Badge colors */
  --badge-online: #047857;
  --badge-offline: #b91c1c;
  --badge-away: #fbbf24;

  /* Rating color */
  --rating: #ffb700;
  --rating-hover: #ecbc43;
}

/* Primary and secondary colors */
.primary {
  color: var(--primary);
}
.primary--light {
  color: var(--primary--light);
}
.secondary {
  color: var(--secondary);
}
.secondary--light {
  color: var(--secondary--light);
}
