/* Utility classes */
@import 'typography.css';
@import 'colors.css';

/* Component classes */
@import '../components/avatar/avatar.css';
@import '../components/button/button.css';
@import '../components/badge/badge.css';
@import '../components/alert/alert.css';
@import '../components/card/card.css';
@import '../components/image/image.css';
@import '../components/input/input.css';
@import '../components/navbar/navbar.css';
@import '../components/modal/modal.css';
@import '../components/hamburger/hamburger.css';
@import '../components/toast/toast.css';
@import '../components/rating/rating.css';

/* Style for CSS elements */
* {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
i {
  cursor: pointer;
  margin: 0 0.5em;
}
img {
  margin: 0.5em;
}
a {
  text-decoration-line: none;
  color: var(--black);
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Miscellaneous classes */
.border {
  border: 2px solid var(--black);
  border-radius: 10px;
}
.shadow {
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgba(129, 113, 113, 0.02);
}

/* Flex center */
.flex-ed-ct {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-ct-ed {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.flex-ct-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-st-ct {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-ct-st {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-st-st {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.flex-ct-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-vertical {
  flex-direction: column;
}

/* Table */
table {
  width: 25%;
  color: var(--code);
  border: 1px solid var(--border);
  border-radius: 10px;
  margin: 0.5em auto;
}
th,
td {
  border-bottom: 2px solid var(--border);
  text-align: center;
  padding: 0.5em;
  font-size: 16px;
}
td {
  border: none;
}

/* Component */
.component--title {
  text-align: center;
}
.component--output--wrapper {
  margin: 1em 0;
  display: flex;
  justify-content: center;
}
.component--output {
  position: relative;
  padding: 0.5em;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}
.code--msg {
  position: absolute;
  top: 1em;
  right: 1em;
  color: var(--white);
  background-color: var(--button-float);
  padding: 0.5em;
  border-radius: 5px;
  font-size: 0.9em;
  margin: 0 0 0 0.5em;
  display: none;
}
.code--container {
  background-color: var(--code);
  color: var(--button-success);
  border-radius: 10px;
  overflow: scroll hidden;
  width: 50%;
  margin: auto;
  display: none;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .component--title {
    text-align: start;
  }
  .code--container {
    display: inline-flex;
  }
}
