/* Font-size */
.xs {
  font-size: 0.5rem;
  line-height: 1rem;
}
.sm {
  font-size: 1rem;
  line-height: 1.5rem;
}
.md {
  font-size: 1.5rem;
  line-height: 2rem;
}
.lg {
  font-size: 1.75rem;
  line-height: 2.5rem;
}
.xl {
  font-size: 3rem;
  line-height: 4rem;
}

/* Bold Type */
.lt {
  font-weight: 300;
}
.reg {
  font-weight: 400;
}
.sb {
  font-weight: 600;
}
.bd {
  font-weight: 800;
}
.bl {
  font-weight: 900;
}

/* Spacing */
.n-s {
  padding: 0;
}
.xs-s {
  padding: 0.5rem;
}
.sm-s {
  padding: 1rem;
}
.md-s {
  padding: 1.5rem;
}
.lg-s {
  padding: 2rem;
}
.xl-s {
  padding: 3rem;
}
.xxl-s {
  padding: 4rem;
}

/* Align */
.srt {
  text-align: start;
}
.end {
  text-align: end;
}
.cen {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .md {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .lg {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .xl {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .sm-s {
    padding: 0.5rem;
  }
  .md-s {
    padding: 1rem;
  }
  .lg-s {
    padding: 1.5rem;
  }
  .xl-s {
    padding: 2rem;
  }
  .xxl-s {
    padding: 3rem;
  }
}
