<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="stylesheet" href="modal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.jpg" />
          </a>
          <span class="box-span">
            <span class="lg sb n-s heading">Apollo-UI</span>
            <span class="sm sb subheading">beta-version</span>
          </span>
        </div>
        <div class="box-sm-contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </div>
        <div class="box-sm-contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list--container">
            <span class="list__title"
              ><a href="/installation">Installation</a></span
            >
          </div>
          <div class="list--container">
            <span class="list__title">Utilities</span>
            <ul class="list">
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list--container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li><a href="../drawer/">Drawer</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/twitter--v1.png"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/glyph-neue/48/000000/github.png"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="https://img.icons8.com/color/48/000000/linkedin.png"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="heading lg sb">Modal</h1><br /><br />
          <p class="heading md reg">
            A classic modal overlay, in which you can include any content you
            want. It works best in desktop view and can be used for making
            pop-ups and sign-in window.
          </p>
          <br /><br />
          <hr />
          <br /><br />
          <p class="heading md lt">
            To use modal component, you need to make use of four classes,
            <strong>modal</strong>, <strong>modal--background</strong>,
            <strong>modal--content</strong> and <strong>modal--close</strong>.
            Add any content you want inside <strong>modal--content</strong>,
            also use padding classes as per your needs. Enter a value from
            <strong>10 | 20 | 30 | 40 | 50</strong> to set width of the modal
            visible region in '%'.
          </p><br /><br />

          <div class="modal flex-ct-ct">
            <div class="modal--background"></div>
            <div class="modal--content md-s" wide="20">
              <h1 class="sm">Modal</h1>
              <p class="sm">
                This is a sample text to show you how modal can be used to
                showcase a small message as a pop-up
              </p>
            </div>
            <span class="modal--close">
              <i class="fas fa-times-circle"></i>
            </span>
          </div>

          <div class="component--output--wrapper flex-ct-ct flex-vertical">
            <div class="component--output shadow">
              <div class="flex-ct-ct">
              </div>
              <div>
                <button class="btn btn--primary btn--md show--modal">
                  Show Modal
                </button>
              </div>
            </div>
            <br /><br />
            <div class="code--container">
              <pre><code class='html'>&lt;div class="modal flex-ct-ct"&gt;
&lt;div class="modal--background"&gt;&lt;/div&gt;
&lt;div class="modal--content md-s" wide="20"&gt;
    &lt;h1 class="sm"&gt;Modal&lt;/h1&gt;
    &lt;p class="sm"&gt; This is a sample text to show you how modal can be used to
          showcase a small message as a pop-up
    &lt;/p&gt;
  &lt;/div&gt;
&lt;span class="modal--close"&gt;&lt;i class="fas fa-times-circle"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
