<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modal</title>
    <link rel="icon" type="image/x-icon" href="/assets/rocket.webp" />
    <link rel="stylesheet" href="modal.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
      integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="box">
      <header class="box__header flex-ct-sb">
        <div class="box-sm flex-ct-ct">
          <a href="../../index.html">
            <img class="box__image" src="../../assets/rocket.webp" alt="logo" />
          </a>
          <span class="box__span">
            <span class="lg sb n-s primary">Apollo-UI</span>
            <span class="sm sb primary--light"></span>
          </span>
        </div>
        <div class="box__sm__contact flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="../../assets/twitter.webp"
              alt="icons"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="../../assets/github.webp"
              alt="icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="../../assets/linkedin.webp"
              alt="icons"
            />
          </a>
        </div>
        <div class="box__sm__contact flex-ct-ct slider">
          <i class="fas fa-bars btn btn--float btn--round lg sb"></i>
        </div>
      </header>

      <aside class="box__aside">
        <section class="box__aside__options">
          <div class="list__container">
            <span class="list__title">Getting Started</span>
            <ul class="list">
              <li><a href="../../installation">Installation</a></li>
              <li><a href="../../color">Color Palette</a></li>
              <li><a href="../../typography">Typography</a></li>
            </ul>
          </div>
          <div class="list__container">
            <span class="list__title">Components</span>
            <ul class="list">
              <li><a href="../avatar">Avatar</a></li>
              <li><a href="../alert">Alert</a></li>
              <li><a href="../badge">Badge</a></li>
              <li><a href="../button">Button</a></li>
              <li><a href="../card">Card</a></li>
              <li><a href="../image">Image</a></li>
              <li><a href="../input">Input</a></li>
              <li><a href="../navbar/">Navbar</a></li>
              <li class="active"><a href="../modal/">Modal</a></li>
              <li><a href="../toast/">Toast</a></li>
              <li><a href="../hamburger/">Hamburger</a></li>
              <li><a href="../rating/">Rating</a></li>
              <li><a href="../drawer/">Drawer</a></li>
              <li><a href="../grid/">Grid</a></li>
              <li><a href="../list/">List</a></li>
            </ul>
          </div>
        </section>
        <section class="footer flex-ct-ct">
          <a href="https://twitter.com/home">
            <img
              class="box__image__sm"
              src="../../assets/twitter.webp"
              alt="icons"
            />
          </a>
          <a href="https://github.com/shrey27">
            <img
              class="box__image__sm"
              src="../../assets/github.webp"
              alt="icons"
            />
          </a>
          <a href="https://www.linkedin.com/in/shrey27/">
            <img
              class="box__image__sm"
              src="../../assets/linkedin.webp"
              alt="icons"
            />
          </a>
        </section>
      </aside>

      <main class="box__main">
        <section class="component">
          <h1 class="primary lg sb mg-full">Modal</h1>
          <p class="primary md reg mg-full">
            A classic modal overlay, in which you can include any content you
            want. It works best in desktop view and can be used for making
            pop-ups and sign-in window.
          </p>
          <hr />
          <p class="primary sm bl mg-full">
            To use modal component, you need to make use of four classes,
            <strong>modal</strong>, <strong>modal__background</strong>,
            <strong>modal__content</strong> and <strong>modal__close</strong>.
          </p>
          <p class="primary sm bl mg-full">
            Add any content you want inside <strong>modal__content</strong>,
            also use padding classes as per your needs. Enter a value from
            <strong>10 | 20 | 30 | 40 | 50</strong> to set width of the modal
            visible region in '%'.
          </p>
          <p class="primary sm bl mg-full">
            Wrap modal container with <strong>modal__open</strong> class to
            control dynamic behaviour.
          </p>

          <div class="modal flex-ct-ct">
            <div class="modal__background"></div>
            <div class="modal__content md-s" wide="20">
              <h1 class="sm">Modal</h1>
              <p class="sm">
                This is a sample text to show you how modal can be used to
                showcase a small message as a pop-up
              </p>
            </div>
            <span class="modal__close">
              <i class="fas fa-times-circle"></i>
            </span>
          </div>

          <div class="component__output__wrapper flex-ct-ct flex-vertical">
            <div class="component__output shadow">
              <div class="flex-ct-st"></div>
              <div>
                <button class="btn btn--float btn--md show--modal">
                  Show Modal
                </button>
              </div>
            </div>

            <div class="code__container mg-full">
              <pre><code class='html'>&lt;div class="modal flex-ct-ct"&gt;
&lt;div class="modal__background"&gt;&lt;/div&gt;
&lt;div class="modal__content md-s" wide="20"&gt;
    &lt;h1 class="sm"&gt;Modal&lt;/h1&gt;
    &lt;p class="sm"&gt; This is a sample text to show you how modal can be used to
          showcase a small message as a pop-up
    &lt;/p&gt;
  &lt;/div&gt;
&lt;span class="modal__close"&gt;&lt;i class="fas fa-times-circle"&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt;

</code></pre>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
    <script src="../../utility/script.js"></script>
  </body>
</html>
