@import '../../utility/common.css';
@import '../../installation/styles.css';

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}
.modal__open {
  display: inline-flex;
}
.modal__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.9;
}
.modal__content {
  position: absolute;
  border: 2px solid var(--primary--light);
  border-radius: 10px;
  background-color: var(--white);
}
.modal__content[wide='10'] {
  width: 10%;
}
.modal__content[wide='20'] {
  width: 20%;
}
.modal__content[wide='30'] {
  width: 30%;
}
.modal__content[wide='40'] {
  width: 40%;
}
.modal__content[wide='50'] {
  width: 50%;
}
.modal__close {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  color: var(--white);
}
