@import '../../utility/common.css';
@import '../../installation/styles.css';

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 100;
}
.modal--open{
  display: inline-flex;
}
.modal--background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.9;
}
.modal--content {
  position: absolute;
  border: 2px solid var(--border);
  border-radius: 10px;
  background-color: var(--white);
}
.modal--content[wide='10'] {
  width: 10%;
}
.modal--content[wide='20'] {
  width: 20%;
}
.modal--content[wide='30'] {
  width: 30%;
}
.modal--content[wide='40'] {
  width: 40%;
}
.modal--content[wide='50'] {
  width: 50%;
}
.modal--close {
  position: absolute;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  font-size: 3em;
  color: var(--white);
}
