@import '../../utility/common.css';
@import '../../installation/styles.css';

.avatar {
  border-radius: 50%;
  margin: 0 0.5rem;
  height: auto;
  background-color: var(--white);
}
.avatar--sm {
  width: 3rem;
}
.avatar--md {
  width: 4rem;
}
.avatar--lg {
  width: 5rem;
}
.sq{
  border-radius: 10px;
  background: none;
}